<div class="card filters">

  <div class="card-header">
    <strong>Filters</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">From</label>
        <input class="form-control" id="from" type="number">
      </div>

      <div class="form-group">
        <label for="to">To</label>
        <input class="form-control" id="to" type="number">
      </div>

      <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
    </form>
  </div>
</div>
