<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2 car-image"
       src="assets/car.jpeg"
       width="100%"/>
  <img *ngIf="productItem.licensed" class="certificate-image" src="assets/certificate.jpeg" width="20"/>
  <div class="card-body">
    <p class="card-text">
      <strong>{{ productItem.price | dutchCurrency }}</strong>
    </p>
    <p><small>Make: {{ productItem.model_name}}</small></p>
    <p><small>Year: {{ productItem.model_year}}</small></p>
    <p><small>{{productItem.date_added | date :'mediumDate'}}</small></p>
  </div>

</div>
